.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form-container {
    width: 480px;
    padding: 24px;
    border-radius: 8px;

    .code-container {
      display: flex;

      .email-code {
        flex: 1;
      }
    }

    .login-btn {
      width: 200px;
    }

    .login-btn {
      width: 100%;
    }
  }
}
